@{
    ViewBag.Title = "Home Page";
}


<div style="width:100%">
   <img width="100%" src="~/Content/theme/base/images/daybook.jpg" />
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Monthly Daybook</h2>
        <p>
            DayBook Management System manages daybook of every month efficienty with well index.
        </p>
        <p><a class="btn btn-default" href="/daybook">Daybook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product</h2>
        <p>Products are managed in category wise with code index of 100,200. So we can search with product code category</p>
        <p><a class="btn btn-default" href="product">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Category</h2>
        <p>Products are managed in category.</p>
        <p><a class="btn btn-default" href="category">Learn more &raquo;</a></p>
    </div>
</div>