
@{
    ViewBag.Title = "TestView";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>TestView</h2>
<p>This is the main content</p>

@section Footer {
   This is the <strong>footer &copy; copyright</strong> 
    }